
/*
Custom Color

blue: #1E90FF
green: #78CC53;
*/


body {

/*	background-color: white;
*/	/*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
/*	font-family: Tahoma, Geneva, sans-serif;
*/	
/*	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
*/	
	/*font-family: "Neuton",sans-serif;*/

	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: black;




/*	font-family: 'OpenSansLight', sans-serif;
*/

/*    background-attachment: fixed;
	background-color: black;
	opacity: 0.4;*/

}




/*li {
	
	float: right;
}

li.home_btn {
	float: left;
}*/

div.body_wrapper{
	background-color: white;
}


nav{
	/*font-family: "Lucida Console", Monaco, monospace;*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	position: fixed;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color: #333;
	text-align: right;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;

}



nav a.home{
	float: left;
}

nav a{
	color: white;
	display: inline-block;
	text-align: center;
	padding: 20px 20px;
	text-decoration: none;
	margin-right: 30px;
}


/*ul a{
	color: white;
	display: block;
	text-align: center;
	padding: 20px 50px;
	text-decoration: none;
	
}*/

nav a.home{
	color: #78CC53;
	margin-left: 30px;
}

nav a.home:hover:not(.active){
	background-color: black;

	color: white;
}

nav a:hover:not(.active){
	/*background-color: black;*/

	color: #78CC53; /*green*/
}


footer div.copyright {
    float: left;
}
footer div.social-icon{
    float: none;
}
footer div.resume_hire {
    float: right;
}

footer div {
	display: inline;
}


footer{
	/*font-family: "Lucida Console", Monaco, monospace;*/

	font-family: Verdana, Arial, Helvetica, sans-serif;
/*	position: relative;
*/	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color: #D3D3D3;
	font-size: 18px;
	width: 100%;
	bottom: 0;
	left: 0;

	text-align: right;
}

footer a{
	color: black;
	display: inline-block;
	text-align: center;
	padding: 20px 50px;
	text-decoration: none;

}
footer a.git img.git{
	position: absolute;
	height: 30px;
	width: 30px;
	margin-left: -15px;
	left: 50%; 
	
}

footer a:hover:not(.active){

/*	color: #78CC53; */
	/*color: #696969;*/
	color: white;
	opacity: 1;
}

footer small.copyright {
	display: inline-block;
	text-align: center;
	color: black;
	float: left;
	margin-left: 100px;
	margin-top: 25px;
	font-size: 15px;
}



/*li a:active{
	background-color: #78CC53;
	color: white;
}*/





/*div.greeting {

    position: relative;
    left: 100px;
    top: 150px;
	color: white;

}

div.intro {

    position: relative;
    left: 200px;
    top: 200px;
	background-color: black;
	width: 650px;
	height: 700px;
	opacity: 0.6;
}



p.title{
	position: relative;
	left: 250px;
	top: 10px;
	color: white;
	font-size: 30px;

}

p.intro_p{
	position: relative;
	left: 200px;
	top: 80px;
	color: white;

}*/