div.background{
	font-family: "Times New Roman", Times, serif;
	position: fixed;
	background-color: white; 
	left: 10%;
	top: 0;
    width: 80%;
	height: 100%;
}
	/*background-color: white;*/

/*	background-image: url("/assets/background/background_edited.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
*/

div.resume_content {
	position: absolute;
	top:10%;
	height: 100%;
	width: 100%;
}

div.big_title{
	position: relative;
	background-color: #1E90FF;
/*	background-color: #0066ff;
*/	
	margin-left: 5%;
	width: 90%;
	height: 60px;

}

h2.big_title{
	position: relative;
	left:40px;
	top: 20%;
	color: white;
	text-align: left;
}



