
div.resume_content {
	font-family: 'Roboto', sans-serif;
	margin-top: 60px;
	height: 100%;
	width: 80%;
	margin-left: 10%;
	margin-bottom: 20px;

}

div.big_sec{
	position: relative;
	top: 20px;
	margin-bottom: 40px;
}

div.big_title{
	background-color: grey;  /*dark blue: #4169E1;*/ /*blue: #1E90FF*/	
	margin-left: 5%;
	width: 90%;
	height: 60px;

}

h2.big_title{
	position: relative;
	left:40px;
	top: 30%;
	color: white;
	text-align: left;
}

div.experience_block{
	left: 10%;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 20px;
  	border-left: 3px solid grey;
}

p.time_period{
	margin-left: 10px;
	color: #696969;
	margin-top: -10px;
}

h3.experience_place{
	top: 10px;
}

h4.pos_title{
	margin-left: 10px;
	margin-top: -10px;
}

ul.resume_content_details{

	left: 10px;
	margin-bottom: 30px;
}

div.section_content{

	margin-left: 150px;
	margin-bottom: 20px;
	line-height: 20px;
}

div.section_content_skills{
	margin-left: 12%;
	margin-bottom: 10px;
	display: flex;
}

div.skill_column{
	flex: 1;
}

ul.skill_list{
	line-height: 30px;
}








